@import 'colors.scss';

.page {
  @media screen and (min-width: 768px) {
    width: 70%;
    margin: auto;
    
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    
  }
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.productGrid {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}